body {
  background-color: lightcyan;
}

.navbar-brand {
  margin-left: 30px;
  background-color: aqua;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.about-me {
  background-color: white;
}
